useDynLib(itrrnr)
importFrom(Rcpp, sourceCpp)
exportPattern("^[[:alpha:]]+")
import(pdist)
export(itrFit)
export(getInner)
export(predict.itrfit)
export(head.ITR)
export(pred_to_num)
export(pred_to_chr)
export(tune)
export(evalITR)
